name: dvc_project
on: [push]
jobs:
  run:
    runs-on: [ubuntu-latest]
    container: docker://dvcorg/cml-py3:latest
    steps:
      - uses: actions/checkout@v2
      - name: cml_run
        env:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git fetch --prune
          dvc metrics show > report.md
          # Add figure to the report
          echo "## Cross-validating results"
          cml-publish confusion_matrix.png --md >> report.md
          echo "## Testing results"
          cml-publish test_confusion_matrix.png --md >> report.md
          echo "## FI"
          cml-publish feature_importance.png --md >> report.md

          echo "## Data features" > report.md
          cat columns.txt >> report.md

          cml-send-comment report.md